<h1>Editing language</h1>

<% form_for(@language, :url => { :controller => "admin/languages", :action => :update }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :abbr %><br />
    <%= f.text_field :abbr %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', admin_language_path(@language) %> |
<%= link_to 'Back', admin_languages_path %>