<h1>
	<div class="admin-controls"><%= link_to 'New Language', new_admin_language_path %></div>
	Languages
</h1>

<table class="admin-table">
  <tr>
    <th>Name</th>
    <th>Abbreviation</th>
    <th>Actions</th>
  </tr>

<% @languages.each do |language| %>
  <tr>
    <td><%=h language.name %></td>
    <td><%=h language.abbr %></td>
    <td>
      <%= link_to 'Edit', edit_admin_language_path(language) %>
      <% if !language.is_associated? %>
        | <%= link_to 'Destroy', admin_language_path(language), :confirm => 'Are you sure?', :method => :delete %>
	  <% end %>
    </td>
  </tr>
<% end %>
</table>