<td class="boys">
	<%= f.text_field :boys, :size => 10, :class => "single-value" %>
</td>
<td class="girls">
	<%= f.text_field :girls, :size => 10, :class => "single-value" %>
</td>
<%= f.hidden_field :crc_member_id, :value => member %>
<%= f.hidden_field :activity_id, :value => activity %>