<div class="chart">
	<div><%= chart.title(axis) %></div>
	<%= ziya_chart reporting_chart_url(chart, :monthly_report => @monthly_report,
										:axis => axis), :bgcolor => "EFEEEE", :width => 500 -%>
</div>
