<tr>
	<td class="angle" rowspan="2">&nbsp;</td>
	<% @members.each do |member| %>
		<th class="member" colspan="2"><%= member.name %></th>
	<% end %>
</tr>
<tr>
	<% @members.each do |member| %>
		<th class="boys">Boys</th>
		<th class="girls">Girls</th>
	<% end %>
</tr>