<h1>
	Monthly Report - <%= @monthly_report.period.strftime("%B %Y") %>
	<% if can? :manage, MonthlyReport %>
		<div class="admin-controls"><%= link_to 'Edit', edit_reporting_monthly_report_path(@monthly_report) %></div>
	<% end %>
</h1>
<p></p>
<h2 class="monthly-report"><b>Beneficiaries</b> - Monthly Totals for Members</h2>
<table class="monthly-report-table">
	<tr>
		<td class="angle" rowspan="2">&nbsp;</td>
		<% @members.each do |member| %>
			<th class="member" colspan="2"><%= member.name %></th>
		<% end %>
		<th colspan="3" class="total-activities">Totals</th>
	</tr>
	<tr>
		<% @members.each do |member| %>
			<th class="boys">Boys</th>
			<th class="girls">Girls</th>
		<% end %>
		<th class="total-activities">Total</th>
		<th class="boys">Boys</th>
		<th class="girls">Girls</th>
	</tr>
	<tr>
		<th class="activity">Monthly Total by Gender</th>
		<% @members.each do |member| %>
			<td class="boys-global"><%= @stats[:children_totals][member.id][:boys] %></td>
			<td class="girls-global"><%= @stats[:children_totals][member.id][:girls] %></td>
		<% end %>
		<td class="total-activities-global"><%= @stats[:children_gender_totals][:boys] + @stats[:children_gender_totals][:girls] %></td>
		
		<td class="boys-global"><%= @stats[:children_gender_totals][:boys] %> (<%= percentage(@stats[:children_gender_totals][:boys], @stats[:children_gender_totals][:girls], :boys) %>%)</td>
		
		<td class="girls-global"><%= @stats[:children_gender_totals][:girls] %>  (<%= percentage(@stats[:children_gender_totals][:boys], @stats[:children_gender_totals][:girls], :girls) %>%)</td>
	</tr>
	
	<tr>
		<th class="activity">Monthly Total by Member</th>
		<% @members.each do |member| %>
			<td colspan="2" class="girls-global"><%= @stats[:children_totals][member.id][:boys] + @stats[:children_totals][member.id][:girls]%></td>
		<% end %>
		<td class="total-activities-global" colspan="3"><%= @stats[:children_gender_totals][:boys] + @stats[:children_gender_totals][:girls] %></td>
	</tr>
</table>

<h2 class="monthly-report"><b>Service Provisions</b> - Monthly Totals for All Members</h2>
<table class="monthly-report-table">
	<tr>
		<td class="angle" rowspan="2">&nbsp;</td>
		<% @members.each do |member| %>
			<th class="member" colspan="2"><%= member.name %></th>
		<% end %>
		<th colspan="3" class="total-activities">Totals</th>
	</tr>
	<tr>
		<% @members.each do |member| %>
			<th class="boys">Boys</th>
			<th class="girls">Girls</th>
		<% end %>
		<th class="total-activities">Total</th>
		<th class="boys">Boys</th>
		<th class="girls">Girls</th>
	</tr>
	<tr>
		<th class="activity">Monthly Total by Gender</th>
		<% @members.each do |member| %>
			<td class="boys-global"><%= @stats[:global_member_totals][member.id][:boys] %></td>
			<td class="girls-global"><%= @stats[:global_member_totals][member.id][:girls] %></td>
		<% end %>
		<td class="total-activities-global"><%= @stats[:global_gender_totals][:boys] + @stats[:global_gender_totals][:girls] %></td>
		<td class="boys-global"><%= @stats[:global_gender_totals][:boys] %> (<%= percentage(@stats[:global_gender_totals][:boys], @stats[:global_gender_totals][:girls], :boys) %>%)</td>
		<td class="girls-global"><%= @stats[:global_gender_totals][:girls] %>  (<%= percentage(@stats[:global_gender_totals][:boys], @stats[:global_gender_totals][:girls], :girls) %>%)</td>
	</tr>
	<tr>
		<th class="activity">Monthly Total by Member</th>
		<% @members.each do |member| %>
			<td colspan="2" class="girls-global"><%= @stats[:global_member_totals][member.id][:boys] + @stats[:global_member_totals][member.id][:girls]%></td>
		<% end %>
		<td class="total-activities-global" colspan="3"><%= @stats[:global_gender_totals][:boys] + @stats[:global_gender_totals][:girls] %></td>
	</tr>
</table>

<%= render :partial => "chart", :collection => Chart.find(:all, :conditions => ["axes = :axes", {:axes => "all"}]), :locals => {:axis => nil} %>

<% @axes.each do |axis| %>
	<h2 class="monthly-report"><b>Service Provisions</b> - <%= axis.name %> <em>- <%= axis.desc %></em></h2>
	<table class="monthly-report-table">
		<tr>
			<td class="angle" rowspan="2">&nbsp;</td>
			<% @members.each do |member| %>
				<th class="member" colspan="2"><%= member.name %></th>
			<% end %>
			<th colspan="3" class="total-activities">Totals</td>
		</tr>
		<tr>
			<% @members.each do |member| %>
				<th class="boys">Boys</th>
				<th class="girls">Girls</th>
			<% end %>
			<th class="total-activities">Total</th>
			<th class="boys">Boys</th>
			<th class="girls">Girls</th>
		</tr>
		<% axis.activities.each do |activity| %>
			<tr>
				<th class="activity"><%= activity.name %></th>
				<% @members.each do |member| %>
					<% ar = @monthly_report.find_activity_report(activity.id, member.id) %>
					<td class="boys"><%= ar.boys %></td>
					<td class="girls"><%= ar.girls %></td>
				<% end %>
				<td class="total-activities"><%= @stats[:activity_totals][axis.id][activity.id][:boys] + @stats[:activity_totals][axis.id][activity.id][:girls] %></td>
				<td class="boys"><%= @stats[:activity_totals][axis.id][activity.id][:boys] %> (<%= percentage(@stats[:activity_totals][axis.id][activity.id][:boys], @stats[:activity_totals][axis.id][activity.id][:girls], :boys) %>%)</td>
				<td class="girls"><%= @stats[:activity_totals][axis.id][activity.id][:girls] %> (<%= percentage(@stats[:activity_totals][axis.id][activity.id][:boys], @stats[:activity_totals][axis.id][activity.id][:girls], :girls) %>%)</td>
			</tr>
		<% end %>
		<tr class="total-gender">
			<th class="activity">Total by Gender</th>
			<% @members.each do |member| %>
				<td class="boys-global"><%= @stats[:member_totals][axis.id][member.id][:boys] %></td>
				<td class="girls-global"><%= @stats[:member_totals][axis.id][member.id][:girls] %></td>
			<% end %>
			<td class="total-activities-global"><%= @stats[:gender_totals][axis.id][:boys] + @stats[:gender_totals][axis.id][:girls] %></td>
			<td class="boys-global"><%= @stats[:gender_totals][axis.id][:boys] %> (<%= percentage(@stats[:gender_totals][axis.id][:boys], @stats[:gender_totals][axis.id][:girls], :boys) %>%)</td>
			<td  class="girls-global"><%= @stats[:gender_totals][axis.id][:girls] %> (<%= percentage(@stats[:gender_totals][axis.id][:boys], @stats[:gender_totals][axis.id][:girls], :girls) %>%)</td>
		</tr>
		<tr>
			<th class="activity">Total by Member</th>
			<% @members.each do |member| %>
				<td colspan="2" class="girls-global"><%= @stats[:member_totals][axis.id][member.id][:boys] + @stats[:member_totals][axis.id][member.id][:girls]%></td>
			<% end %>
			<td class="total-activities-global" colspan="3"><%= @stats[:gender_totals][axis.id][:boys] + @stats[:gender_totals][axis.id][:girls] %></td>
		</tr>
	</table>
	
	<%= render :partial => "chart", :collection => Chart.find(:all, :conditions => ["axes = :axes", {:axes => "by_axis"}]), :locals => {:axis => axis} %>
	
<% end %>

