<h1>Editing Monthly Report</h1>

<% form_for(@monthly_report, :url => {:controller => "reporting/monthly_reports", :action => :update}) do |f| %>
	<%= f.error_messages %>

	<p>
		<%= f.label :period, "Reporting period" %><br />
		<%= f.date_select(:period, :discard_day => true, :start_year => Date.today.year, :end_year => 2008) %>
	</p>

	<% @axes.each do |axis| %>
		<h2 class="monthly-report"><%= axis.name %> <em>- <%= axis.desc %></em></h2>
		<table class="monthly-report-table">
		<%= render "monthly_report_table_header" %>
		<% axis.activities.each do |activity| %>
			<tr>
				<th class="activity"><%= activity.name %></th>
				<% @members.each do |member| %>
					<% f.fields_for :activity_reports, @monthly_report.find_activity_report(activity.id, member.id) do |builder| %>
						<%= render "activity_report_fields", :f => builder, :member => member.id, :activity => activity.id %>
					<% end %>
				<% end %>
			</tr>
		<% end %>
		</table>	
		<p></p>
	<% end %>

	<p><%= f.submit 'Update' %></p>
<% end %>

<%= link_to 'Show', reporting_monthly_report_path(@monthly_report) %> |
<%= link_to 'Back', reporting_monthly_reports_path %>