<h1>
	<div class="admin-controls"><%= link_to 'New Monthly Report', new_reporting_monthly_report_path %></div>
	Monthly Reports
</h1>

<table class="admin-table">
  <tr>
    <th>Reporting period</th>
    <th>Actions</th>
  </tr>

<% @monthly_reports.each do |monthly_report| %>
  <tr>
    <td><%=h monthly_report.period.strftime("%B %Y") %></td>
    <td>
	  <%= link_to 'Show', reporting_monthly_report_path(monthly_report) %>
	  | <%= link_to 'Edit', edit_reporting_monthly_report_path(monthly_report) %>
	  | <%= link_to 'Destroy', reporting_monthly_report_path(monthly_report), :confirm => 'Are you sure?', :method => :delete %>
	</td>
  </tr>
<% end %>
</table>

<br />

