<% set_page_title "Monthly Report - #{@monthly_report.period.strftime("%B %Y")}" %>
<% set_page_description "Monthly statistical report for #{@monthly_report.period.strftime("%B %Y")}" %>

<%= render :partial => "show" %>