<% set_page_title "Statistical Reports" %>
<% set_page_description "Monthly statistical reports from the CRC activities" %>

<h1>Statistical Reports</h1>

<p>
  On this page you will find the monthly statistical reports of the CRC activities in Afghanistan. Each report includes detail statistics and graphs for each axis and partner of the Consortium.
</p>

<% year = 0 %>
<% ra = [] %>
<% @monthly_reports.each do |mr| %>
  <% if year != mr.period.year %>
    <p><%= ra.join(' | ') %></p>
    <% year = mr.period.year %>
    <h2>Reports for <%= year %></h2>
    <% ra = [] %>
  <% end %>
  <% ra << link_to(mr.period.strftime("%B"), report_url(:year => mr.period.year, :month => mr.period.month)) %>
<% end %>
<p><%= ra.join(' | ') %></p>