<tr>
	<td><%= activity_info.sequence %>. <%= activity_info.name %></td>
	<td class="link-column">
		<%= link_to 'Edit', edit_reporting_activity_path(activity_info) %>
		<% if activity_info.axis_id != Axis.children_axis.id %>
		  <% if activity_info.active %>
  			| <%= link_to "Deactivate", deactivate_reporting_activity_path(activity_info) %>
  		<% else %>
  			| <%= link_to "Activate", activate_reporting_activity_path(activity_info) %>
  		<% end %>
  		<% if !activity_info.is_associated? %>
  			| <%= link_to 'Destroy', reporting_activity_path(activity_info), :confirm => 'Are you sure?', :method => :delete %>
  		<% end %>
  	<% end %>
	</td>
</tr>