<table class="admin-table">
	<tr>
		<th><%= axis_info.sequence %>. <%= axis_info.name %> <em> - <%= axis_info.desc %></em></th>
		<th class="link-column">
			<%= link_to 'Edit', edit_reporting_axis_path(axis_info) %>
			<% if !axis_info.is_children_axis %>
  			<% if axis_info.active %>
  				| <%= link_to "Deactivate", deactivate_reporting_axis_path(axis_info) %>
  			<% else %>
  				| <%= link_to "Activate", activate_reporting_axis_path(axis_info) %>
  			<% end %>
			<% end %>
			<% if !axis_info.is_associated? %>
				| <%= link_to 'Destroy', reporting_axis_path(axis_info), :confirm => 'Are you sure?', :method => :delete %>
			<% end %>
		</th>
	</tr>
	
	<% if axis_info.active_activities.count > 0 %>
		<tr class="item-state"><td colspan="2">Active activities</td></tr>
		<%= render :partial => "activity_info", :collection => axis_info.active_activities %>
	<% end %>
	
	<% if axis_info.inactive_activities.count > 0 %>
		<tr class="item-state"><td colspan="2">Inactive activities</td></tr>
		<%= render :partial => "activity_info", :collection => axis_info.inactive_activities %>
	<% end %>
</table>
<p></p>