<h1>Editing axis</h1>

<% form_for(@axis, :url => { :controller => "reporting/axes", :action => :update }) do |f| %>
  <%= f.error_messages %>
  
  <% if @axis.is_children_axis %>
    <p>
      <em>This is axis to report the number of children for each active member. No extra activity can be added to it. This axis is always in first position.</em>
    </p>
  <% end %>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :desc, "Description" %><br />
    <%= f.text_field :desc %>
  </p>
  <% if @axis.active and !@axis.is_children_axis %>
    <p>
      <%= f.label :sequence %><br />
      <%= f.select :sequence, Axis.order_list %>
    </p>  
  <% else %>
    <%= f.hidden_field :sequence, :value => @axis.sequence %>
  <% end %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', reporting_axis_path(@axis) %> |
<%= link_to 'Back', reporting_axes_path %>