<% if @axes.count == 0 %>
	<h1>
		<div class="admin-controls"><%= link_to 'New axis', new_reporting_axis_path %></div>
		Axes
	</h1>
<% end %>

<% if @active_axes.count > 0 %>
	<h1>
		<div class="admin-controls"><%= link_to 'New axis', new_reporting_axis_path %> <%= link_to 'New activity', new_reporting_activity_path %></div>
		Active axes
	</h1>
	<%= render :partial => "axis_info", :collection => @active_axes %>
<% end %>

<% if @inactive_axes.count > 0 %>
	<h1>
		<div class="admin-controls"><%= link_to 'New axis', new_reporting_axis_path %> <%= link_to 'New activity', new_reporting_activity_path %></div>
		Inactive axes
	</h1>
	<%= render :partial => "axis_info", :collection => @inactive_axes %>
<% end %>