<h1>New axis</h1>

<% form_for(@axis, :url => { :controller => "reporting/axes", :action => :create }) do |f| %>
  <%= f.error_messages %>
  
  <% if Axis.count == 0 %>
    <p>
      <em>This will be the axis to report the number of children for each active member. This axis will have a single activity.</em>
    </p>
  <% end %>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :desc, "Description" %><br />
    <%= f.text_field :desc %>
  </p>

  <% f.fields_for :activities do |builder| %>
    <p>
      <%= builder.label :name, "You need to provide the name of the first activity for this axis" %><br />
      <%= builder.text_field :name %>
    </p>
  <% end %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', reporting_axes_path %>