<p>
  <b>Name:</b>
  <%=h @axis.name %>
</p>

<p>
  <b>Description</b>
  <%=h @axis.desc %>
</p>

<p>
  <b>Active:</b>
  <%=h @axis.active %>
</p>


<%= link_to 'Edit', edit_reporting_axis_path(@axis) %> |
<%= link_to 'Back', reporting_axes_path %>