<h1>Editing service</h1>

<% form_for(@service, :url => { :controller => "admin/services", :action => :update }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>