<h1>
	<div class="admin-controls"><%= link_to 'New Service', new_admin_service_path, :class => "admin-button" %></div>
	Services
</h1>

<table class="admin-table">
  <tr>
    <th>Name</th>
    <th>Associations</th>
	<th>Action</th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%=h service.name %></td>
    <td><%=h service.service_providers.count %></td>
    <td>
		<%= link_to 'Edit', edit_admin_service_path(service), :controller => 'admin/services' %>
	    <% if service.service_providers.count == 0 %>
			| <%= link_to 'Destroy', admin_service_path(service), :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	</td>
  </tr>
<% end %>
</table>