<h1>New service</h1>

<% form_for(@service, :url => { :controller => "admin/services", :action => :create }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>