<% set_page_title truncate(" Edit | " + @newsitem.title, {40, "..."}) %>
<% custom_head_tags(:js => [:defaults]) %>

<h1>Editing newsitem</h1>

<% form_for @newsitem do |f| %>
  <%= f.error_messages %>

  <p>
		<%= field_with_help(f, :title) %>
    <%= f.text_field :title %>
  <p>
  <p>
    <%= field_with_help(f, :lead) %>
    <%= f.text_area :lead %>
  </p>
  <p>
    <%= field_with_help(f, :content, true) %>
    <%= f.textile_editor :content -%>
  </p>
  <p>
    <%= field_with_help(f, :published_on) %>
    <%= f.date_select :published_on %>
  </p>
  <p>
	<%= field_with_help(f, :category_id) %>
	<%= f.select :category_id, category_options("news", @newsitem.category_id), {:prompt => "Select a category"} %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
  <%= textile_editor_initialize -%>
<% end %>

<%= link_to 'Show', @newsitem %> |
<%= link_to 'Back', newsitems_path %>