<% set_page_title "latest CRC News" %>
<% set_page_description "News about CRC Activities" %>

<h1 class="position">
	<% if can? :manage, Newsitem %>
		<div class="admin-controls"><%= link_to "New", new_newsitem_path, :title => "Add a new news" %></div>
	<% end %>
	<%= @title %>
	<a class="rss" href="<%= newsitems_url(:format => :rss) %>" title="RSS feed">&nbsp;</a>
</h1>

<ul class="content-list newsitems-list">
	<% @newsitems.each do |newsitem| %>
		<li>
			<h2><span><%= newsitem.category_name %></span><%= link_to newsitem.title, newsitem %></h2>
			<p class="info"><%= newsitem.published_on.strftime("%d %b %Y") %></p>
			<p>
				<%=h newsitem.lead %>
				<% if !newsitem.content.blank? %>
					<%= link_to("Read more", newsitem, :class => "read-more") %>
				<% end %>
			</p>
		</li>
	<% end %>
</ul>

<%= will_paginate @newsitems %>


