<% set_page_title "New Newsitem" %>
<% custom_head_tags(:js => [:defaults]) %>

<h1>New newsitem</h1>

<% form_for @newsitem do |f| %>
  <%= f.error_messages %>
  <p>
		<%= field_with_help(f, :title) %>
    <%= f.text_field :title %>
  <p>
  <p>
    <%= field_with_help(f, :lead) %>
    <%= f.text_area :lead %>
  </p>
  <p>
    <%= field_with_help(f, :content, true) %>
    <%= f.textile_editor :content -%>
  </p>
  <p>
    <%= field_with_help(f, :published_on) %>
    <%= f.date_select :published_on %>
  </p>
  <p>
	<%= field_with_help(f, :category_id) %>
	<%= f.select :category_id, category_options("news"), {:prompt => "Select a category"} %>
  </p>
  <p>
	<%= f.hidden_field :asset_temporary_token, :value => @newsitem.asset_temporary_token %>
    <%= f.submit 'Create' %>
  </p>
  <%= textile_editor_initialize -%>
<% end %>

<%= link_to 'Back', newsitems_path %>