<% set_page_title truncate(@newsitem.title, {40, "..."}) %>
<% set_page_description truncate(@newsitem.lead, {70, "..."}) %>
<% custom_head_tags(:js => [:defaults, 'lightbox', 'builder', 'jwplayer'], :css => ['lightbox']) %>

<div class="asset">
	<h1>
		<% if can? :manage, @newsitem %>
			<div class="admin-controls">
				<%= link_to 'Edit', edit_newsitem_path(@newsitem), :title => "Edit this news" %> 
				<%= link_to 'Destroy', @newsitem, :confirm => 'Are you sure?', :method => :delete, :title => "Destroy this news" %>
			</div>
		<% end %>
		<span><%= @newsitem.category_name %></span><%= @newsitem.title %>
	</h1>
	<p class="info"><%= @newsitem.published_on.strftime("%d %b %Y") %></p>
	<p class="newsitems-lead"><%= @newsitem.lead %></p>
	<div class="textile-text"><%= @newsitem.content %></div>
</div>