<% set_page_title "Partners of the CRC"%>
<% set_page_description "Short description of the partners involved in the CRC" %>

<h1 class="position">
	<% if can? :manage, Partner %>
		<div class="admin-controls"><%= link_to "New", new_partner_path, :title => "Add a new partner" %></div>
	<% end %>
	CRC Partners
</h1>

<ul class="content-list">
	<% @partners.each do |partner| %>
		<li>
			<h2><%= link_to partner.name, partner %></h2>
			<p><%= partner.lead %></p>
		</li>
	<% end %>
</ul>