<% set_page_title "New Partner" %>
<% custom_head_tags(:js => [:defaults]) %>

<h1>New partner</h1>

<% form_for @partner, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>

  <p>
		<%= field_with_help(f, :name) %>
    <%= f.text_field :name %>
  </p>
  <p>
		<%= field_with_help(f, :lead) %>
    <%= f.text_area :lead %>
  </p>
  <p>
		<%= field_with_help(f, :description, true) %>
    <%= f.textile_editor :description -%>
  </p>
  <p>
		<%= field_with_help(f, :in_crc_since) %>
    <%= f.text_field :in_crc_since %>
  </p>
  <p>
		<%= field_with_help(f, :url) %>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
<%= textile_editor_initialize -%>
<%= link_to 'Back', partners_path %>