<% set_page_title truncate(@partner.name, {40, "..."}) %>
<% set_page_description truncate([@partner.name, @partner.in_crc_since].join(" "), {70, "..."}) %>
<% custom_head_tags(:js => [:defaults, 'lightbox', 'builder'], :css => ['lightbox']) %>

<div class="asset">
	<h1>
		<% if can? :manage, @partner %>
			<div class="admin-controls">
				<%= link_to 'Edit', edit_partner_path(@partner), :title => "Edit this partner" %>
				<%= link_to 'Destroy', @partner, :confirm => 'Are you sure?', :method => :delete, :title => "Destroy this partner" %>
			</div>
		<% end %>
		<%= @partner.name %>
	</h1>
	<p class="info">In CRC since <%= @partner.in_crc_since %></p>
	<p><%= @partner.description %></p>
	<% if !@partner.url.blank? %>
	<p>
		<span class="prop">Url:</span> <%= link_to @partner.url, @partner.url %>
	</p>
	<% end %>
</div>