<h1>Editing activity</h1>

<% form_for(@activity, :url => {:controller => "reporting/activities", :action => :update}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <% if @activity.active and (@activity.axis_id != Axis.children_axis.id) %>
    <p>
      <%= f.label :sequence %><br />
      <%= f.select :sequence, Activity.order_list(@activity.axis_id) %>
    </p>
  <% else %>
    <%= f.hidden_field :sequence, :value => @activity.sequence %>
  <% end %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', reporting_axes_path %>