<h1>New activity</h1>

<% form_for(@activity, :url => {:controller => "reporting/activities", :action => :create}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :axis_id %><br />
    <%= f.collection_select :axis_id, Axis.axis_for_activities, :id, :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', reporting_axes_path %>