/* CSS for the right column */

.aside_block {
	position: relative;
	width: 211px;
	padding: 0 8px 8px;
	border: 1px solid #dad9d9;
	margin-bottom: 18px;
	background-color: #efeeee;
}

div.aside_block h2 {
	width: 209px;
	height: 25px;
	line-height: 24px;
	margin: 12px 0 10px -18px;
	padding: 0 18px;
	border: 1px solid #679bc4;
	background: transparent url('../images/ribbon_bg_repeat.png') repeat-x scroll center top;
	font-size: 14px;
	color: #fff;
	text-shadow: #748089 0 -1px 1px;
}

.aside_block .ribbon_left, .aside_block .ribbon_right {
	position: absolute;
	top: 39px;
	width: 9px;
	height: 5px;
}
.aside_block .ribbon_left {
	left: -10px;
	background: transparent url('../images/ribbon_left.png') no-repeat scroll left top;
}
.aside_block .ribbon_right {
	right: -10px;
	background: transparent url('../images/ribbon_right.png') no-repeat scroll left top;
}

.aside_block li {
	list-style-type: none;
	background: url("../images/links-bullet.png") no-repeat scroll 1px 5px;
	padding-left: 18px;
	margin: 0 0 5px 0;
}

ul.asset-latest-list li span {
	border-right: 1px solid #CCCCCC;
	padding-right: 5px;
	margin-right: 5px;
}

.partner-focus-title {
	margin: 0;
}

#asset-title {
	width: 180px;
}

#asset-list {
	list-style-type: none;
	padding: 0;
}

#asset-list li {
	background:none;
	padding:5px;
	border: 1px solid #DAD9D9;
	font-size: 0.8em;
	background-color: #F4F4F4;
	position:relative;
	margin: 5px 0;
	min-height: 100px;
}

#asset-list li img {
	border: 1px solid white;
	display:block;
	float:left;
	margin-right: 5px;
}

#asset-list li .title{
	font-weight:bold;
	display:block;
}

#asset-list li .filename {
	display:block;
}

#asset-list li .language {
	display:block;
	font-style:italic;
	text-decoration:underline
}

#asset-upload-notice {
	color: green;
}

#asset-upload-error {
	color: red;
}
