/* CSS for the left column */

a {
	color: #238cdf;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
ins {
	text-decoration: underline;
}
ol, ul {
	margin-bottom: 1em;
}
ol ol, ul ul, ol ol ol, ul ul ul {
	margin: 0;
}

ol li, ul li {
	margin-left: 2.5em;
	list-style-position: outside;
}
ol li {
	list-style-type: decimal;
}
ol ol li {
	list-style-type: upper-alpha;
}
ol ol ol li {
	list-style-type: lower-alpha;
}
ul li {
	list-style-type: disc;
}
ul ul li {
	list-style-type: square;
}
table {
	width: 100%;
}
td, th {
	padding: 4px;
}

#content h1 {
	padding-bottom: 6px;
	margin-bottom: 6px;
	background: transparent url('../images/separator.png') no-repeat scroll bottom left;
	font-size: 20px;
	color: #868a8e;
}
#content h1 span {
	border-right: 1px solid #bdbcbc;
	padding-right: 5px;
	margin-right: 5px;
	color: #929ba3;
}
#content h1 div.admin-controls {
	float:right;
	font-size: 0.6em;
}

#content p, #content li {
	text-align: justify;
}
#content img {
	display: inline-block;
	padding: 4px;
	border: 1px solid #e7e6e5;
	background-color: #fff;
	-moz-box-shadow: 1px 1px 4px #DFDFDF;
	-webkit-box-shadow: 1px 1px 4px #DFDFDF;
	box-shadow: 1px 1px 4px #DFDFDF;
}
#content img:hover {
	background-color: #e9e7e7;
	border-color: #cacac9;
}
#content .img-left {
	float: left;
	margin: 0 14px 0 0;
}
#content .img-center {
	text-align: center;
}
#content .img-right {
	float: right;
	margin: 0 0 0 14px;
}

#content div.mediaplayer {
	margin-left: 33px;
	text-align:center;
}

#content p.media-title {
	text-align: center;
	margin-top:-12px;
	font-style:italic;
}

#stat-report {
	margin-top: 15px;
}

/* Content Lists */
.content-list li {
	clear: both;
	list-style-type: none;
	margin: 25px 0 0;
}
.content-list h2 {
	font-size: 17px;
	color: #238cdf;
}
.content-list h2 span {
	border-right: 1px solid #bdbcbc;
	padding-right: 5px;
	margin-right: 5px;
	color: #6BA3D0;
}
.content-list h2 div.admin-controls {
	float:right;
	font-size: 0.7em;
}
.content-list h2 strong {
	border-right: 1px solid #CCCCCC;
	padding-right: 5px;
	margin-right: 5px;
}
.content-list p {
	margin:0;
	padding:5px 0px;
}

a.read-more {
	font-style: italic;
}

.newsitems-lead {
	padding: 10px;
	border: 1px solid #e6e4e4;
	background-color: #F2F2F2;
	font-style: italic;
}

p.info {
	font-size: 11px;
	color: #9c9c9c;
}

em.highlighted {
	font-size: 0.5em;
	color: #238cdf;
}

.asset h2, .asset h3, .asset h4, .monthly_reports-reports_public_index h2 {
	margin-bottom: 0.5em;
	color: #f09b64;
}
.asset h2, .monthly_reports-reports_public_index h2 {
	font-size: 1.5em;
}
.asset h3 {
	font-size: 1.2em;
}
.asset h4 {
	font-size: 1.05em;
}
.asset div.partner-logo {
	text-align: center;
	padding-bottom:10px;
}
.asset div.partner-logo img {
	border:0;
}

/* Partners */
img.partner-logo {
	float:right;
	margin: 5px 0;
}

/* Documents */
.document-thumb {
	display: block;
	float: left;
	margin-right: 8px;
}
.document-details-props {
	width: 429px;
}
.document-details-container {
	position: relative;
	float: left;
	margin-bottom: 30px;
}
.document-download {
	display: block;
	position: absolute;
	bottom: -35px;
	right: 0;
	height: 30px;
	line-height: 30px;
	padding: 0 0 0 32px;
	background:  url('../images/download_icon.png') no-repeat scroll 7px center;
	color:#238cdf;
	text-align:right;
}

.document-language {
	padding: 4px;
	border: 1px solid #E4E4E4;
	background-color:#F7F7F7;
}

.documents-show th {
	width: 130px;
}
.documents-show .asset p {
	clear: both;
	padding-top: 1em;
}

/* Service Providers */
.service_providers-index .content-list table, .document-details-props {
	background-color: #f7f7f7;
	border: 1px solid #e4e4e4;
}
.service_providers-index .content-list th {
	width: 100px;
}
.service_providers-index .description {
	background-color: #fcfcfc;
	border: 1px solid #e4e4e4;
}

.admin-table {
	border: 1px solid #e4e4e4;
}

.admin-table th {
	background-color: #EFEEEE;
	font-weight: bold;
}
.admin-table tr, .monthly-report-table tr {
	border-bottom:1px solid #e4e4e4;
}

.admin-table tr.item-state {
	font-weight: bold;
	font-size:0.9em;
	border-bottom: 1px dashed #e4e4e4;
}

.admin-table tr.item-state td {
	background-color: #f7f7f7;
}

.admin-table td.link-column, .admin-table th.link-column {
	text-align:right;
}

.admin-table td {
	background-color: #fcfcfc;
	text-align: left;
}

.monthly-report-table {
	font-size: 0.7em;
	margin-bottom: 20px;
}

.monthly-report-table th {
	background-color: #EFEEEE;
}

.monthly-report-table td {
	background-color: #FFFFFF;
}

.monthly-report-table th.activity {
	border-left:1px solid #e4e4e4;
	border-right:1px solid #e4e4e4;
}

.monthly-report-table th.member {
	border-top: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	text-align: center;
}

.monthly-report-table td.angle {
	border-right:1px solid #e4e4e4;
}

.monthly-report-table td.girls, .monthly-report-table th.girls, .monthly-report-table td.girls-global {
	border-right: 1px solid #e4e4e4;
	border-left: 1px dashed #e4e4e4;
	text-align: center;
}

.monthly-report-table td.boys, .monthly-report-table th.boys, .monthly-report-table td.boys-global {
	text-align: center;
}

.monthly-report-table td.total-activities, .monthly-report-table th.total-activities, .monthly-report-table td.total-activities-global {
	border-top: 1px solid #e4e4e4;
	border-left: 3px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	text-align:center;
}

.monthly-report-table td.total-activities-global, .monthly-report-table td.boys-global, .monthly-report-table td.girls-global {
	color: red;
}

.monthly-report-table tr.total-gender {
	border-top: 3px solid #e4e4e4;
}

h2.monthly-report {
	padding-bottom: 6px;
	margin-bottom: 6px;
	background: transparent url('../images/separator.png') no-repeat scroll bottom left;
	font-size: 15px;
	color: #868a8e;
}

div.chart {
	display: block;
	text-align:center;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-top: 1px dashed #e4e4e4;
}

div.chart div {
	margin-bottom:6px;
	font-weight: bold;
}

/* Pagination */
.pagination {
	margin-top: 1.5em;
	text-align: center;
}
.pagination span, .pagination a {
	display: inline-block;
	padding: 3px 4px;
	border: 1px solid #D6D6D6;
}
.pagination .disabled {
	display: none;
}
.pagination a {
	background-color: #F2F2F2;
}
.pagination .current, .pagination a:hover {
	background-color: #238CDF;
	color: #F2F2F2;
	text-decoration: none;
}

li.active-category a {
	font-weight: bold;
}

/* Forms */
form {
	padding: 12px;
	border: 1px solid #dad9d9;
	background-color: #f4f4f4;
}
form td, form th {
	vertical-align: top;
}
form th {
	width: 150px;
	padding-right: 12px;
	text-align: right;
}
label {
	font-size:0.9em;
	line-height: 18px;
	font-weight: bold;
	font-style: italic;
}

label.checkbox {
	font-weight: normal;
	font-style: normal;
}

input[type="password"], .user_sessions-new input[type="text"] {
	width: 240px;
	height: 18px;
}
input[type="text"], input[type="password"], textarea {
	padding: 2px;
	background-color: #f8f8f8;
	border: 1px solid #cacaca;
	color: #3d3d3d;
}
input:focus, textarea:focus {
	background-color: #fbfbfb;
	border: 1px solid #f08f4f;
}
input[type="submit"], .admin-controls a {
	display: inline-block;
	padding: 4px 12px;
	border: 1px solid #df874d !important;
	background-color: #f08f4f;
	color: #f2f2f2;
	text-shadow: #a67a5e 0 -1px 1px;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

textarea, input[type="text"] {
	width: 517px;
}

input[type="text"].single-value {
	width: 25px;
}

/* Search form */
#search_form {
	margin-bottom: 20px;
}

#search_form input[type="text"] {
	width: 300px;
}

.search-btn {
	padding-left: 26px !important;
	background-image: url('../images/search_icon.png');
	background-position: 1px 2px;
	background-repeat: no-repeat;
}

/* Contact form */
.contact_us-index textarea {
	width: 332px;
}
.contact_us-index input[type="text"] {
	width: 332px;
}

/* Form errors */
#errorExplanation {
  width: 400px;
  border: 2px solid #df874d;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #f08f4f;
  color: #fff;
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

a.textile-help {
	float:right;
}

div.help-container {
	position:relative;
}

label.help-link {
	padding-left: 20px;
	background:  url('../images/help.png') no-repeat scroll 0px center;
	z-index:99999;
	cursor:help;
	padding-top:3px;
}

div.help-box {
	position:absolute;
	display:block;
	top:20px;
	left:0px;
	max-width:300px;
	border: 2px solid #679bc4;
	background-color:#7bb8e8;
	color:white;
	padding: 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-size:0.9em;
	z-index:9000;
}

#content a.rss{
	display:inline-block;
	background:  url('../images/rss.png') no-repeat scroll 0px center;
	width:14px;
}

