/* CSS for the layout of the page and its main containers */
body {
	font-family: Verdana, 'Trebuchet MS', Arial, sans-serif;
	font-size: 13px;
	color: #979696;
}

#header {
	height: 166px;
	background: transparent url('../images/header_bg_repeat.jpg') repeat-x scroll center top;
}

#header_content {
	height: 136px;
	background: transparent url('../images/header.jpg') no-repeat scroll center top;
	text-align: center;
	text-indent: -9999px;
}
#header_content a {
	display: block;
	width: 842px;
	height: 136px;
	margin: 0 auto;
}

#page, #page-error {
	overflow: hidden;
	width: 842px;
	background-color: #fff;
	margin: -30px auto 0;
}

#page-error {
	margin: 0 auto 0;
	text-align:center;
	padding-top: 15px;
	width: 500px;
}

.error-message {
	margin-top: 20px;
}

#page-error a {
	color: #238cdf;
	text-decoration: none;
	display:block;
	padding-top: 15px;
}

.error-big {
	font-size: 25px;
	margin-bottom: 10px;
}

.error-small {
	border-top: 1px solid #b9b8b8;
	display:block;
	padding-top: 10px;
}


#navigation {
	height: 44px;
	border: 1px solid #679bc4;
	margin-bottom: 20px;
	background: #44a1eb url('../images/menu_bg_repeat.png') repeat-x scroll center top;
}

#navigation ul {
	margin-left: 3px;
}

#navigation li {
	position: relative;
	display: block;
	float: left;
	list-style-type: none;
	height: 43px;
	margin: 0;
}

#navigation li a
{
	display: block;
	height: 43px;
	line-height: 43px;
	padding: 0 15px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	margin: 0 2px;
	font-size: 13.5px;
	letter-spacing: 0.08em;
	color: #fafafa;
	text-decoration: none;
	text-shadow: #67727b 0 -1px 1px;
}

#navigation li a.selected, #navigation li a:hover {
	height: 36px;
	line-height: 36px;
	margin-top: 3px;
	border: 1px solid #6a97bb;
	background: transparent url('../images/menu_item_active_bg_repeat.png') repeat-x scroll center top;
	color: #5e6a74;
	text-shadow: #b9b8b8 0 -1px 1px;
}
#menu_active_middle {
	position: absolute;
	bottom: -8px;
	left: 50%;
	width: 19px;
	height: 11px;
	margin-left: -9px;
	background: transparent url('../images/menu_item_active_middle.png') repeat-x scroll center top;
}

#content
{
	float: left;
	width: 547px;
	padding-left: 11px;
}

#aside
{
	float: left;
	width: 227px;
	padding-left: 45px;
	margin-top: 30px;
}

#footer
{
	clear: left;
	height: 175px;
	margin-top: 20px;
	border: 1px solid #d6d6d6;
	background-color: #f2f2f2;
	text-align: right;
}
#footer_content {
	width: 822px;
	padding: 10px;
	margin: 0 auto;
}
#europe-logo {
	display: inline-block;
	margin-top: 10px;
}

#user_nav {
	float:left;
	text-align:left;
}

#flash-notice {
	color: green;
}

#flash-error {
	color: red;
}