div.textile-toolbar span.ed_sep {
  xposition: relative;
  xtop: -4px;
  padding: 0;
  height: 6px;
  width: 2px;
  margin: 0 2px;
  border-left: solid 1px #d5d5d5;
  border-right: solid 1px #f5f5f5;
}

div.textile-toolbar button {
	margin: 0;
	background-color: #F8F8F8;
	border: 1px solid #F8F8F8;
	padding:0;
}

div.textile-toolbar button:hover, 
div.textile-toolbar button.unselected:hover {
	border: 1px solid #999;
}

div.textile-toolbar button.publish {
	padding:5px;
	display:block;
}

div.textile-toolbar {
	background-color: #F8F8F8;
	border:1px solid #CACACA;
	padding: 3px;
	margin-bottom: 4px;
}