<% set_page_title("Contact Us") %>
<% set_page_description ("Send a request to the CRC staff") %>

<h1 class="position">Contact form</h1>

<% unless @errors.blank? %>
	<div id="errorExplanation" class="errorExplanation">
		<h2><%= @errors.count %> errors prohibited the form from being sent</h2>
		<p>There were problems with the following fields:</p>
		<ul>
			<% @errors.each do |error| %>
				<li><%= h(error) %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<p>Feel free to send us a note via this contact form. All the fields are required.</p>

<% form_tag :action => "index" do %>
	
	<table>
		<tr>
			<th><%= label_tag "Name" %></th>
			<td><%= text_field_tag :name, params[:name], :size => 40 %></td>
		</tr>
		<tr>
			<th><%= label_tag "Email" %></th>
			<td><%= text_field_tag :email, params[:email], :size => 40 %></td>
		</tr>
		<tr>
			<th><%= label_tag "Your message is about" %></th>
			<td><%= select_tag :subject, '<option value="">Select subject</option>' + category_options("contact") %></td>
		</tr>
		<tr>
			<th><%= label_tag "Message" %></th>
			<td><%= text_area_tag :message, params[:message], :cols => 50, :rows => 10 %></td>
		</tr>
		<tr>
			<th></th>
			<td><%= submit_tag "Send" %></td>
		</tr>
	</table>

<% end %>