<h2>Statistics about children</h2>
<ul>
  <li>Under 5 mortality rate: 199‰</li>
  <li>Under 1 mortality rate: 134‰</li>
  <li>Life expectancy at birth: 44 years</li>
  <li>Youth (15-24 years) literacy rate, male: 49%</li>
  <li>Youth (15-24 years) literacy rate, female: 18%</li>
  <li>Child labour: 13%</li>
  <li>Child marriage: 39%</li>
  <li>Birth registration rate: 12%</li>
</ul>
(UNICEF, 2009)



