<h2>Uploaded assets</h2>

<ul id="asset-list">
	<% if action_name =~ /(edit|update)/ %>
		<%= render :partial => "shared/asset_list_item", :collection => asset_list.assets, :locals => {:token => asset_list.asset_temporary_token} %>
	<% else %>
		<%= render :partial => "shared/asset_list_item", :collection => Asset.find(:all, :conditions => {:temporary_token => asset_list.asset_temporary_token, :resource_id => nil}), :locals => {:token => asset_list.asset_temporary_token} %>
	<% end %>
</ul>	

