<div id="asset-upload-form">
	<h2>Upload an asset</h2>
	<% form_for(:asset_form, :url => {:action => action, :format => :js, :id => content.id}, :html => {:method => :post, :multipart => true, :target => 'upload_frame'})  do |f| %>
		<%= render "shared/asset_fields", :f => f, :content => content %>
		<p>
		  <%= f.hidden_field :temporary_token, :value => content.asset_temporary_token %>
		  <%= f.hidden_field :user_id, :value => current_user.id %>
		  <%= f.submit "Upload" %>
		</p>
	<% end %>
	<iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
	<div id="asset-upload-notice"></div>
	<div id="asset-upload-error"></div>
</div>