<p>
	<%= f.label :title, "Legend" %><br />
	<%= f.text_field :title, :id => "asset-title" %>
</p>
<% if Asset::RESOURCES_WITH_LANGUAGE.include?(content.class.to_s) %>
	<p>
		<%= f.label :language_id %><br />
		<%= f.select :language_id, options_for_select([["Select a language",""]]) + options_for_select(Language.find(:all).map {|l| [l.name, l.id.to_s]}) %>
	</p>
<% end %>
<p>
	<%= f.label :data, "File" %><br />
	<%= f.file_field :data, :class => "file-field", :size => 20, :id => "asset-filename" %>
</p>
