<li id="asset_<%= asset_list_item.id %>">
	<% if asset_list_item.audio_file? %>
	  <%= image_tag audio_thumbnail %>
	<% elsif asset_list_item.thumbnailable? %>
		  <%= image_tag asset_list_item.url(:thumb) %>
	<% else %>
		<%= image_tag no_thumbnail %>
	<% end %>
	<% if Asset::RESOURCES_WITH_LANGUAGE.include?(asset_list_item.resource_type) %>
		<% lid = "asset_#{asset_list_item.id}_#{asset_list_item.language.abbr} "%>
		<span id="<%= lid %>" class="language"><%= asset_list_item.language.name %></span><br />
		<script type="text/javascript">
			asset_language_in_place_collection_select ('<%= lid %>', 
								'<%= asset_path(asset_list_item) %>', '<%= admin_languages_url(:json) %>')
		</script>
	<% end %>
	<% @asset = asset_list_item %>
	<span class="title"><%= in_place_editor_field :asset, :title, {}, {:url => url_for(:action => "set_asset_title", :id => @asset, :controller => "assets")} %></span>
	<span class="filename"><%= asset_list_item.data_file_name %></span>
	<%= link_to_remote "[Delete]", :url => {:action => :destroy_asset, :token => token, :asset_id => asset_list_item.id}, :confirm => "Are you sure" %>
</li>