<h2>Latest Documents</h2>
<ul class="asset-latest-list">
	<% Document.latest.each do |document| %>
		<li>
			<span><%= document.category.name %></span><%= link_to document.title, document %>
			<p class="info"><%= document.publisher%> - <%= document.document_published_on %></p>
		</li>
	<% end %>
</ul>
