<h2>Highlighted Documents</h2>
<% if Document.highlighted.count > 0 %>
  <ul class="asset-latest-list">
  	<% Document.highlighted.each do |document| %>
  		<li>
  			<span><%= document.category.name %></span><%= link_to document.title, document %>
  			<p class="info"><%= document.publisher%> - <%= document.document_published_on %></p>
  		</li>
  	<% end %>
  </ul>
<% end %>