<h2>Intervention Models</h2>
<% Document.intervention_models.each do |document| %>
  <li>
		<%= link_to document.title, document %>
		<p class="info"><%= document.publisher%> - <%= document.document_published_on %></p>
	</li>
<% end %>
