<%
	cl = (request[:controller] =~ navigation_item[0]) ? "selected" : ""
%>

<li>
	<%= link_to navigation_item[2], "#{navigation_item[1]}", :class => cl %>
	<% unless (cl.empty?) %>
		<div id="menu_active_middle"></div>
	<% end %>
</li>
