<h2>Latest news</h2>
<ul class="asset-latest-list">
	<% Newsitem.find(:all, :order => "published_on DESC", :limit => 3).each do |l| %>
		<li>
			<span><%= l.category.name %></span><%= link_to l.title, l %>
			<p class="info"><%= l.published_on.strftime("%d %b %Y") %></p>
			</li>
	<% end %>
</ul>
