<h2>Partner Focus</h2>
<% partner = Partner.random_one %>
<% unless partner.nil? %>
	<p class="partner-focus-title"><%= link_to partner.name, partner %></p>
	<p class="info">In CRC since <%= partner.in_crc_since %></p>
	<p><%= truncate(partner.lead, :length => 250) %> <%= link_to "Read more", partner, :class => "read-more" %></p>
<% end %>
