<h2>Site statistics</h2>
<ul>
	<li><strong>User:</strong> <%= User.count %></li>
	<li><strong>Services:</strong> <%= Service.count %></li>
	<li><strong>Categories:</strong> <%= Category.count %></li>
</ul>
<ul>
	<li><strong>Articles:</strong> <%= Newsitem.count %></li>
	<li><strong>Monthly Reports:</strong> <%= MonthlyReport.count %></li>
	<li><strong>Partners:</strong> <%= Partner.count %></li>
	<li><strong>Links:</strong> <%= Link.count %></li>
	<li><strong>Documents:</strong> <%= Document.count %></li>
	<li><strong>Service Providers:</strong> <%= ServiceProvider.count %></li>
</ul>