<tr>
    <td><%=h crc_member_info.name %></td>
    <td>
	    <%= link_to 'Edit', edit_reporting_crc_member_path(crc_member_info) %>
		<% if crc_member_info.active %>
			| <%= link_to "Deactivate", deactivate_reporting_crc_member_path(crc_member_info) %>
		<% else %>
			| <%= link_to "Activate", activate_reporting_crc_member_path(crc_member_info) %>
		<% end %>
		<% if !crc_member_info.is_associated? %>
			| <%= link_to 'Destroy', reporting_crc_member_path(crc_member_info), :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	</td>
</tr>