<h1>Editing CRC Member</h1>

<% form_for(@crc_member, :url => {:controller => "reporting/crc_members", :action => :update}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', reporting_crc_member_path(@crc_member) %> |
<%= link_to 'Back', reporting_crc_members_path %>