<% if @crc_members.count == 0 %>
	<h1>
		<div class="admin-controls"><%= link_to 'New CRC Member', new_reporting_crc_member_path %></div>
		CRC Members
	</h1>
<% end %>

<% if @active_members.count > 0 %>
	<h1>
		<div class="admin-controls"><%= link_to 'New CRC Member', new_reporting_crc_member_path %></div>
		Active CRC Members
	</h1>
	<table class="admin-table">
		<tr>
			<th>Name</th>
			<th>Actions</th>
		</tr>
		<%= render :partial => "crc_member_info", :collection => @active_members %>
	</table>
<% end %>
<p></p>
<% if @inactive_members.count > 0 %>
	<h1>
		<div class="admin-controls"><%= link_to 'New CRC Member', new_reporting_crc_member_path %></div>
		Inactive CRC Members
	</h1>
	<table class="admin-table">
		<tr>
			<th>Name</th>
			<th>Actions</th>
		</tr>
		<%= render :partial => "crc_member_info", :collection => @inactive_members %>
	</table>
<% end %>