<h1>New CRC Member</h1>

<% form_for(@crc_member, :url => {:controller => "reporting/crc_members", :action => :create}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', reporting_crc_members_path %>