<p>
  <b>Name:</b>
  <%=h @crc_member.name %>
</p>

<p>
  <b>Active:</b>
  <%=h @crc_member.active %>
</p>


<%= link_to 'Edit', edit_reporting_crc_member_path(@crc_member) %> |
<%= link_to 'Back', reporting_crc_members_path %>