<div class="search-form-container">
	<h1>Advanced Search</h1>
	<% form_tag documents_path, :method => "get" do %>
		<table>
			<tr>
				<td colspan="2"><em>Search documents matching <%= select_tag "search_operator", options_for_select([["any of", "OR"], ["all", "AND"]], params[:search_operator]) %> the following parameters</em></td>
			</tr>
			<tr>
				<th><%= label_tag "search_title", "Title" %></th>
				<td><%= text_field_tag "search_title", params[:search_title] %></td>
			</tr>
			<tr>
				<th><%= label_tag "search_publisher", "Publisher" %></th>
				<td><%= text_field_tag "search_publisher", params[:search_publisher] %></td>
			</tr>
			<tr>
				<th><%= label_tag "search_published_on", "Date of publication" %></th>
				<td><%= text_field_tag "search_published_on", params[:search_published_on] %></td>
			</tr>
			<tr>
				<th><%= label_tag "search_category", "Category" %></th>
				<td><%= select_tag "search_category", options_for_select([""]) + category_options("documents", params[:search_category].to_i) %></td>
			</tr>
			<tr><th></th><td><%= submit_tag "Search", :name => "search_button" %></td></tr>
		</table>
	<% end %>
</div>