<h2>Browse by categories</h2>
<ul class="categories-list">
	<% Category.find(:all, :conditions => {:parent => "documents"}).each do |c| %>
		<% if params[:category] and c.permalink == params[:category] %>
			<li class="active-category"><%= link_to c.name, documents_category_url(:category => c.permalink)  %></li>
		<% else %>
			<li><%= link_to c.name, documents_category_url(:category => c.permalink)  %></li>
		<% end %>
	<% end %>
</ul>

