<% set_page_title truncate(" Edit | " + @document.title, {40, "..."}) %>
<% custom_head_tags(:js => [:defaults]) %>

<h1>Editing document</h1>

<% form_for(@document) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= field_with_help(f, :title) %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= field_with_help(f, :subtitle) %>
    <%= f.text_field :subtitle %>
  </p>
  <p>
    <%= field_with_help(f, :document_published_on) %>
    <%= f.text_field :document_published_on %>
  </p>
  <p>
		<%= field_with_help(f, :abstract) %>
    <%= f.text_area :abstract %>
  </p>
  <p>
		<%= field_with_help(f, :highlighted) %>
		<%= f.check_box :highlighted %>
  </p>
  <p>
		<%= field_with_help(f, :category_id) %>
    <%= f.select :category_id, category_options("documents", @document.category_id), {:prompt => "Select a category"} %>
  </p>
  <p>
		<%= field_with_help(f, :publisher) %>
    <%= f.text_field :publisher %>
  </p>
  <p>
	<%= f.hidden_field :asset_temporary_token, :value => @document.asset_temporary_token %>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @document %> |
<%= link_to 'Back', documents_path %>