<% set_page_title "Document Library" %>
<% set_page_description "Documents related to the CRC activities" %>
<% custom_head_tags(:js => [:defaults]) %>

<div id="search_form" style="display: <%= params[:search_button] ? "block" : "none" %>">
	<%= render(:partial => "documents_search_form") %>
</div>
<h1 class="position">
	<div class="admin-controls">
		<%= link_to_function "Search", visual_effect(:toggle_slide, "search_form"), :title => "Search documents", :class => "search-btn" %>
		<% if can? :manage, Document %>
			<%= link_to "New", new_document_path, :title => "Add a new document" %>
		<% end %>
	</div>
	<%= @title %>
	<a href="<%= documents_url(:format => :rss) %>" title="RSS feed" class="rss">&nbsp;</a>
</h1>

<ul class="content-list">
	<% @documents.each do |document| %>
	 <li>
		<h2>
		  <span><%= document.category_name %></span><%= link_to document.title, document %>
		  <% if (can? :manage, document) and (document.highlighted)%>
		    <em class="highlighted">Highlighted</em>
		  <% end %>
		</h2>
		<p class="info"><%= "#{document.publisher}, #{document.document_published_on}" %></p>
		<p>
			<%= document.abstract %>
		</p>
	</li>
	<% end %>
</ul>

<%= will_paginate @documents %>