<% set_page_title truncate(@document.title,{40, "..."}) %>
<% set_page_description truncate([@document.publisher, @document.document_published_on, @document.abstract].join(" "), {70, "..."}) %>
<% custom_head_tags(:js => [:defaults, 'lightbox', 'builder'], :css => ['lightbox']) %>

<div class="asset">
	<h1>
		<% if can? :manage, @document %>
			<div class="admin-controls">
				<%= link_to 'Edit', edit_document_path(@document), :title => "Edit this document" %>
				<%= link_to 'Destroy', @document, :confirm => 'Are you sure?', :method => :delete, :title => "Destroy this document" %>
			</div>
		<% end %>
		<%= @document.title %>
		<% if (can? :manage, @document) and (@document.highlighted)%>
		  <em class="highlighted">Highlighted</em>
		<% end %>
	</h1>
	<h2><em><%= @document.subtitle %></em></h2>
	<% if @document.assets[0].thumbnailable? %>
		<%= link_to image_tag(@document.assets[0].url(:thumb)), @document.assets[0].url(:normalized), :rel => "lightbox", :title => @document.assets[0].title, :class => "document-thumb" %>
	<% else %>
		<%= image_tag no_thumbnail, :class => "document-thumb" %>
	<% end %>
	<div class="document-details-container">
		<table class="document-details-props">
			<tr>
				<th>Category</th>
				<td><%= @document.category_name %></td>
			</tr>
			<tr>
				<th>Publisher</th>
				<td><%= @document.publisher %></td>
			</tr>
			<tr>
				<th>Date of publication</th>
				<td><%= @document.document_published_on %></td>
			</tr>
		</table>
		<div class="document-download">
			Download 
			<% @document.assets.each do |a| %>
				<%= link_to a.language.abbr, a.url(:original), :title => a.language.name, :class => "document-language" %>
			<% end %>
		</div>
	</div>
	<p><%=h @document.abstract %></p>
</div>