<% set_page_title truncate(" Edit | " + @static.title, {40, "..."}) %>
<% custom_head_tags(:js => [:defaults]) %>

<h1>Editing static</h1>

<% form_for(@static) do |f| %>
  <%= f.error_messages %>

  <p>
		<%= field_with_help(f, :title) %>
    <%= f.text_field :title %>
  </p>
  <p>
		<%= field_with_help(f, :content, true) %>
    <%= f.textile_editor :content -%>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
  <%= textile_editor_initialize -%>
<% end %>

<%= link_to 'Back', @static %>