<% set_page_title truncate(@static.title, {40, "..."}) %>
<% set_page_description truncate(@static.title, {40, "..."}) %>
<% custom_head_tags(:js => [:defaults, 'lightbox', 'builder', 'jwplayer'], :css => ['lightbox']) %>

<h1 class="position">
	<% if can? :update, @static %>
		<div class="admin-controls">
			<%= link_to "Edit", edit_static_path(@static), :title => "Edit this page" %>
		</div>
	<% end %>
	<%= @static.title %>
</h1>

<div class="asset">
	<div class="textile-text"><%= @content %></div>
</div>