<% set_page_title truncate(" Edit | " + @link.title, {40, "..."}) %>
<% custom_head_tags(:js => [:defaults]) %>

<h1>Editing link</h1>

<% form_for(@link) do |f| %>
  <%= f.error_messages %>

  <p>
		<%= field_with_help(f, :title) %>
    <%= f.text_field :title %>
  </p>
  <p>
		<%= field_with_help(f, :url) %>
    <%= f.text_field :url %>
  </p>
  <p>
		<%= field_with_help(f, :sequence) %>
    <%= f.select :sequence, Link.order_list %>
  </p>
  <p>
		<%= field_with_help(f, :description) %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', links_path %>