<% set_page_title "Links" %>
<% set_page_description "Links related to CRC Activities" %>

<h1 class="position">
	<% if can? :manage, Link %>
		<div class="admin-controls"><%= link_to "New", new_link_path, :title => "Add new link" %></div>
	<% end %>
	Links
</h1>

<ul class="content-list">
	<% @links.each do |link| %>
		<li>
			<h2>
				<% if can? :manage, link %>
					<div class="admin-controls">
						<%= link_to "Edit", edit_link_path(link), :title => "Edit this link" %>
						<%= link_to "Destroy", link, :confirm => "Are you sure?", :method => :delete, :title => "Destroy this link" %>
					</div>
				<% end %>
				<%= link.title %>
			</h2>
			<%= link_to link.url, link.url, :target => "_blank" %>
			<p><%= link.description %></p>
		</li>
	<% end %>
</ul>

<%= will_paginate @links %>