<% set_page_title "New Link" %>
<% custom_head_tags(:js => [:defaults]) %>

<h1>New link</h1>

<% form_for(@link) do |f| %>
  <%= f.error_messages %>

  <p>
		<%= field_with_help(f, :title) %>
    <%= f.text_field :title %>
  </p>
  <p>
		<%= field_with_help(f, :url) %>
    <%= f.text_field :url %>
  </p>
  <p>
		<%= field_with_help(f, :description) %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', links_path %>