<h2>Service Providers Categories</h2>
<ul class="categories-list">
	<% Category.find(:all, :conditions => {:parent => "providers"}).each do |c| %>
		<% if params[:category] and c.permalink == params[:category] %>
			<li class="active-category"><%= link_to c.name, service_providers_category_url(:category => c.permalink)  %></li>
		<% else %>
			<li><%= link_to c.name, service_providers_category_url(:category => c.permalink)  %></li>
		<% end %>
	<% end %>
</ul>
