<div class="search-form-container">
	<h1>Advanced Search</h1>
	<% form_tag service_providers_path, :method => "get" do %>
		<table>
			<tr>
				<td colspan="2"><em>Search service providers matching <%= select_tag "search_operator", options_for_select([["any of", "OR"], ["all", "AND"]], params[:search_operator]) %> the following parameters</em></td>
			</tr>
			<tr>
				<th><%= label_tag "search_name", "Name" %></th>
				<td><%= text_field_tag "search_name", params[:search_name] %></td>
			</tr>
			<tr>
				<th><%= label_tag "search_contact_person", "Contact Person" %></th>
				<td><%= text_field_tag "search_contact_person", params[:search_contact_person] %></td>
			</tr>
			<tr>
				<th><%= label_tag "search_address", "Address" %></th>
				<td><%= text_field_tag "search_address", params[:search_address] %></td>
			</tr>
			<tr>
				<th><%= label_tag "search_services", "Services" %></th>
				<td>
					<% Service.all.each_with_index do |serv, i| %>
						<%= check_box_tag "search_services[]", serv.id,
								params[:search_services].nil? ? false : params[:search_services].include?("#{serv.id}"), :id => "search_services_"+i.to_s %>
						<%= label_tag "search_services_"+i.to_s, serv.name, :class => "checkbox" %><br />
					<% end %>
				</td>
			</tr>
			<tr>
				<th><%= label_tag "search_category", "Category" %></th>
				<td><%= select_tag "search_category", options_for_select([""]) + category_options("providers", params[:search_category].to_i) %></td>
			</tr>
			<tr><th></th><td><%= submit_tag "Search", :name => "search_button" %></td></tr>
		</table>
	<% end %>
</div>