<% set_page_title truncate(" Edit | " + @service_provider.name, {40, "..."}) %>
<% custom_head_tags(:js => [:defaults]) %>

<h1>Editing Service Provider</h1>

<% form_for(@service_provider) do |f| %>
  <%= f.error_messages %>

  <p>
		<%= field_with_help(f, :name) %>
    <%= f.text_field :name %>
  </p>
  <p>
		<%= field_with_help(f, :contact_person) %>
    <%= f.text_field :contact_person %>
  </p>
  <p>
		<%= field_with_help(f, :description) %>
    <%= f.text_area :description %>
  </p>
  <p>
		<%= field_with_help(f, :address) %>
    <%= f.text_field :address %>
  </p>
  <p>
		<%= field_with_help(f, :phone_number) %>
    <%= f.text_field :phone_number %>
  </p>
  <p>
		<%= field_with_help(f, :email) %>
    <%= f.text_field :email %>
  </p>
  <p>
		<%= field_with_help(f, :url) %>
    <%= f.text_field :url %>
  </p>
  <p>
		<%= field_with_help(f, :category_id) %>
    <%= f.select :category_id, category_options("providers", @service_provider.category_id) %>
  </p>
  <p>
		<%= field_with_help(f, :services) %>
  	<% for serv in Service.find(:all) %>
		<%= check_box_tag "service_provider[service_ids][]", serv.id, @service_provider.services.include?(serv) %>
		<%= serv.name %><br />
	<% end %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @service_provider %> |
<%= link_to 'Back', service_providers_path %>