<% set_page_title "Service Providers" %>
<% set_page_description "Catalog of service providers in Afghanistan" %>
<% custom_head_tags(:js => [:defaults]) %>

<div id="search_form" style="display: <%= params[:search_button] ? "block" : "none" %>">
	<%= render(:partial => "service_providers_search_form") %>
</div>
<h1 class="position">
	<div class="admin-controls">
		<%= link_to_function "Search", visual_effect(:toggle_slide, "search_form"), :title => "Search service providers", :class => "search-btn" %>
		<% if can? :manage, ServiceProvider %>
			<%= link_to "New", new_service_provider_path, :title => "Add a new service provider" %>
		<% end %>
	</div>
	<%= @title %>
</h1>

<ul class="content-list">
	<% @service_providers.each do |provider| %>
	 <li>
		<h2>
			<% if can? :manage, ServiceProvider %>
				<div class="admin-controls">
					<%= link_to "Edit", edit_service_provider_path(provider), :title => "Edit service provider" %>
					<%= link_to "Destroy", provider, :confirm => "Are you sure?", :method => :delete, :title => "Destroy service provider" %>
				</div>
			<% end %>
			<%= provider.url.empty? ? provider.name : link_to(provider.name, provider.url, :target => "_blank") %>
		</h2>
		<table>
			<tr>
				<th>Category</th>
				<td>: <%= provider.category_name %></td>
			</tr>
			<tr>
				<th>Services</th>
				<td>: <%= provider.services.find(:all).map{ |s| s.name }.join(", ") %></td>
			</tr>
			<% if !provider.contact_person.empty? %>
  			<tr>
  				<th>Contact Person</th>
  				<td>: <%= provider.contact_person %></td>
  			</tr>
			<% end %>
			<% if !provider.phone_number.empty? %>
        <tr>
  				<th>Phone Number</th>
  				<td>: <%= provider.phone_number %></td>
  			</tr>
  		<% end %>
			<% if !provider.email.empty? %>
        <tr>
  				<th>Email</th>
  				<td>: <%= link_to provider.email, "mailto:#{provider.email}" %></td>
  			</tr>
  		<% end %>
			<tr>
				<th>Address</th>
				<td>: <%= provider.address %></td>
			</tr>
		<% unless (provider.url.empty?) %>
			<tr>
				<th>URL</th>
				<td>: <%= link_to provider.url, provider.url %></td>
			</tr>
		<% end %>
			<tr>
				<td colspan="2" class="description"><%= provider.description %></td>
			</tr>
		</table>
	</li>
	<% end %>

</ul>

<%= will_paginate @service_providers %>