<% set_page_title "New Service Provider" %>
<% custom_head_tags(:js => [:defaults]) %>

<h1>New Service Provider</h1>

<% form_for(@service_provider) do |f| %>
  <%= f.error_messages %>

  <p>
		<%= field_with_help(f, :name) %>
    <%= f.text_field :name %>
  </p>
  <p>
		<%= field_with_help(f, :contact_person) %>
    <%= f.text_field :contact_person %>
  </p>
  <p>
		<%= field_with_help(f, :description) %>
    <%= f.text_area :description %>
  </p>
  <p>
		<%= field_with_help(f, :address) %>
    <%= f.text_field :address %>
  </p>
  <p>
		<%= field_with_help(f, :phone_number) %>
    <%= f.text_field :phone_number %>
  </p>
  <p>
		<%= field_with_help(f, :email) %>
    <%= f.text_field :email %>
  </p>

  <p>
		<%= field_with_help(f, :url) %>
    <%= f.text_field :url %>
  </p>
  <p>
		<%= field_with_help(f, :category_id) %>
    <%= f.select :category_id, category_options("providers"), {:prompt => "Select a category"} %>
  </p>

  <p>
		<%= field_with_help(f, :services) %>
  	<% Service.find(:all).each_with_index do |serv, i| %>
		<%= check_box_tag "service_provider[service_ids][]", serv.id, @service_provider.services.include?(serv), :id => "search_services_"+i.to_s %>
		<%= label_tag "search_services_"+i.to_s, serv.name %><br />
	<% end %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', service_providers_path %>