<h1>Editing Configuration</h1>

<% form_for(@conf, :url => { :controller => "admin/configurations", :action => :update }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :contact_email %><br />
    <%= f.text_field :contact_email %>
  </p>
  <p>
    <%= f.label :technical_email %><br />
    <%= f.text_field :technical_email %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>