<h1>
	<div class="admin-controls"><%= link_to "Edit configuration", edit_admin_configuration_path(@conf) %></div>
	Configuration
</h1>

<p>
	<b>Contact email:</b> <%= @conf.contact_email %>
</p>
<p>
	<b>Technical email:</b> <%= @conf.technical_email %>
</p>

