Dear <%= @message[:name] %>,

You have requested a new password for the E-Platform.
Your new password is now: <%= @message[:password] %>

Please use this password at next login and change it to one you will remember easily. Your new password must also be secure.

Regards,

E-Platform Administration