<h1>Editing category</h1>

<% form_for(@category, :url => { :controller => "admin/categories", :action => :update }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :parent, "Content type" %><br />
    <%= f.collection_select :parent, Category::PARENTS, :to_s, :humanize %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>