<h1>
	<div class="admin-controls"><%= link_to 'New Category', new_admin_category_path %></div>
	Categories
</h1>

<table class="admin-table">
  <tr>
    <th>Content Type</th>
    <th>Name</th>
    <th>Action</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%=h category.parent.humanize %></td>
    <td><%=h category.name %></td>
    <td>
		<%= link_to 'Edit', edit_admin_category_path(category), :controller => 'admin/categories' %>
	    <% if !category.is_associated? %>
			| <%= link_to 'Destroy', admin_category_path(category), :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	</td>
  </tr>
<% end %>
</table>