<h1>New category</h1>

<% form_for(@category, :url => { :controller => "admin/categories", :action => :create }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :parent %><br />
    <%= f.collection_select :parent, Category::PARENTS, :to_s, :humanize %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>