<tr>
	<td><%=h user_info.username %></td>
	<td><%=h user_info.role.humanize %></td>
	<td>
		<%= link_to 'Show', admin_user_path(user_info) %>
		<% if can? :manage, User %>
			| <%= link_to 'Edit', edit_admin_user_path(user_info), :controller => 'admin/users' %>
			<% if !user_info.is_super_admin? %>
				<% if user_info.active %>
					| <%= link_to "Deactivate", deactivate_admin_user_path(user_info) %>
				<% else %>
					| <%= link_to "Activate", activate_admin_user_path(user_info) %>
				<% end %>
			<% end %>
		<% end %>
	</td>
</tr>