<h1>Editing user</h1>

<% form_for(@user, :url => { :controller => "admin/users", :action => :update }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <% if can? :manage, User %>
    <% if !@user.is_super_admin? %>
		<p>
		  <%= f.label :role %><br />
		  <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
		</p>
		<p>
		    <%= f.label :active %>
		    <%= f.check_box :active %>
		</p>	
	<% end %>
  <% else %>
  	<p><b>Role</b><br /> <%= @user.role.humanize %></p>
  <% end %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>