<h1>
	<% if can? :manage, User %>
		<div class="admin-controls"><%= link_to 'New User', new_admin_user_path %></div>
	<% end %>
	Active Users
</h1>
<table class="admin-table">
	<tr>
		<th>Username</th>
		<th>Role</th>
		<th>Action</th>
	</tr>
	<%= render :partial => "user_info", :collection => @active_users %>
</table>
<p></p>
<% if @inactive_users.count > 0 %>
	<h1>
		<% if can? :manage, User%>
			<div class="admin-controls"><%= link_to 'New User', new_admin_user_path %></div>
		<% end %>
		Inactive Users
	</h1>
	<table class="admin-table">
		<tr>
			<th>Username</th>
			<th>Role</th>
			<th>Action</th>
		</tr>
		<%= render :partial => "user_info", :collection => @inactive_users %>
	</table>
<% end %>
