<h1>First User</h1>

<% form_for(@user, :url => {:controller => "admin/users", :action => :create_admin}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <b>Role</b><br />
	<%= @user.role %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit 'Create Admin' %>
  </p>
<% end %>

<%= link_to 'Back', root_url %>