<h1>User details</h1>
<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>
<p>
  <b>Email:</b>
  <%= link_to @user.email, "mailto:" + @user.email %>
</p>
<p>
  <b>Role:</b>
  <%=h @user.role %>
</p>
<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>
<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>