<% custom_head_tags(:js => [:defaults]) %>

<h1>Login</h1>


<% form_for(@user_session) do |f| %>
	<%= f.error_messages %>

	<p>
		<%= field_with_help(f, :username) %>
		<%= f.text_field :username %>
	</p>
	<p>
		<%= field_with_help(f, :password_field) %>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.submit 'Login' %>
		<%= link_to_function "Forgot your password?", visual_effect(:toggle_slide, "lost_pass_form"), :title => "Click to open form" %>
	</p>
<% end %>
<p></p>
<div id="lost_pass_form" style="display:none">
	<div>
		<h1>New password request</h1>
		<% form_tag url_for(:controller => "admin/users", :action => "request_password"), :method => "post" do %>
			<p>
				<%= label_tag "email", "Type in your email address and we'll send you a new password" %><br />
				<%= text_field_tag "email" %>
			</p>
			<p>
				<%= submit_tag "Send request", :name => "send_button" %>
			</p>
		<% end %>
	</div>
</div>

