<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= layout_title %><%= @page_title %></title>
  <meta content="<%= @page_description %>" name='Description' />

  <%= stylesheet_link_tag 'http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css' %>
  <%= stylesheet_link_tag 'layout' %>
  <%= stylesheet_link_tag 'content' %>
  <%= stylesheet_link_tag 'aside' %>
  <%= print_custom_head_tags %>
</head>

<body>
<div id="header">
	<div id="header_content">
		<a href="<%= root_url %>">Child Rights Consortium Afghanistan</a>
	</div>
</div>
<div id="page">
	<div id="navigation">
		<ul>
			<%= render(:partial => "shared/navigation_item", :collection => navigation_items)%>
		</ul>
	</div>
	
	<div id="content-container">
		<div id="content" class="<%= controller_name + "-" + action_name %>">
		<% unless flash[:notice].nil? %>
			<p id="flash-notice"><%= flash[:notice] %></p>
		<% end %>
		<% unless flash[:error].nil? %>
			<p id="flash-error"><%= flash[:error] %></p>
		<% end %>
			<%= yield %>
		</div>
	
		<div id="aside">			
			<%= render_aside_blocks %>
		</div>
	</div>
</div>
<div id="footer">
	<div id="footer_content">
		<div id="user_nav">
			<% if current_user %>
				<%= link_to("Edit Profile", edit_admin_user_path(current_user)) + " (#{current_user.username})" %> | 
				<%= link_to "logout", logout_path %><br />
				<%= link_to "Public Area", root_path %> | <%= link_to "Admin Area", admin_users_path %> | 
				<%= link_to "Reporting", reporting_root_url %>
			<% else %>
				<%= link_to "Login", login_path %>
			<% end %>
		</div>
		<div id="copyright"><%= link_to "Contact us", "/contact_us" %> - Copyright &copy; Child Rights Consortium Afghanistan <%= Time.now.year %></div>
		<a href="http://www.molsamd.gov.af/"><img id="europe-logo" src="/images/molsamd.png" title="Ministry of Labor, Social Affairs, Martyrs and Disabled" /></a>
		<a href="http://europa.eu"><img src="/images/europe.png" title="European Union" /></a>
	</div>
</div>
<% if (request.domain != "localhost") and ((request.request_uri =~ /(^\/admin)|(^\/reporting)/) == nil) %>
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try{
    var pageTracker = _gat._getTracker("UA-2591396-4");
    pageTracker._trackPageview();
    } catch(err) {} 
</script>
<% end %>
</body>
</html>
