<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= layout_title %><%= @page_title %></title>

  <%= stylesheet_link_tag 'http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css' %>
  <%= stylesheet_link_tag 'layout' %>
</head>

<body>
<div id="page-error">
	<%= image_tag "crc_logo.jpg", :alt => "CRC Logo"%>
	<div class="error-message">
		<%= yield %>
	</div>
	<%= link_to "Back to the home page", root_url %>
</div>
</body>
</html>