<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= layout_title %><%= @page_title %></title>

  <%= stylesheet_link_tag 'http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css' %>
  <%= stylesheet_link_tag 'layout' %>
  <%= stylesheet_link_tag 'content' %>
  <%= print_custom_head_tags %>
</head>

<body>
<div id="header">
	<div id="header_content">
		<a href="<%= root_url %>">Child Rights Consortium Afghanistan</a>
	</div>
</div>
<div id="page">
	<div id="navigation">
	</div>
	
	<div id="content-container">
		<div id="content" class="<%= controller_name + "-" + action_name %>">
			<p id="flash-notice"><%= flash[:notice] %></p>
			<p id="flash-error"><%= flash[:error] %></p>
			<%= yield %>
		</div>
	</div>
</div>
<div id="footer">
	<div id="footer_content">
		<div id="user_nav">
			<%= link_to 'Cancel', root_path %>
		</div>
		<div id="copyright">Copyright &copy; Child Rights Consortium Afghanistan <%= Time.now.year %></div>
		<a href="http://www.molsamd.gov.af/"><img id="europe-logo" src="/images/molsamd.png" title="Ministry of Labor, Social Affairs, Martyrs and Disabled" /></a>
		<a href="http://europa.eu"><img src="/images/europe.png" title="European Union" /></a>
	</div>
</div>
</body>
</html>